---
import Header from "@components/Header.astro";
import SecondHeader from "@components/SecondHeader.astro"
import Base from "../layout/Base.astro";
import ButtonDefault from "@components/ButtonDefault.astro";
---

<Base>
    <Header />
    <SecondHeader />

    <section class="relative flex flex-col items-center bg-[#f5f1e3FF] py-12">
        <div class="flex flex-col mb-8 rounded-[2rem] items-center w-[50vw] h-[70vh] border bg-[#e5d1b8] relative overflow-hidden">
            <img class="absolute w-[80%] top-[6rem]" src="/banner-title.png" />
            <img class="absolute bottom-[-20%] w-[80%]" src="https://design.penpot.app/assets/by-file-media-id/6ac113cd-51c8-8126-8006-e265211b45db" alt="">

            <div class="-z-10"></div>
        </div>
        <ButtonDefault title="Conheça nosso cardápio" />

        <button class="absolute w-[5rem] h-[5rem] rounded-[50%] bottom-[6rem] right-[2rem] bg-[#244d3bFF]"></button>
    </section>

    <section class="flex w-full h-[80vh] bg-[#244d3bFF] rounded-t-[3rem]"></section>
</Base>
