---
const {title, colorBg} = Astro.props
---

<a href="#" class={`flex items-center justify-center h-[2.4rem] bg-[${colorBg || 'var(--bg-color-green)'}] text-[#f5f1e3] text-xs text-center px-4 sm:px-8 py-2 rounded-sm font-semibold`}>{title}</a>
