---
import ButtonDefault from "./ButtonDefault.astro";
---

<header class="flex justify-center items-center gap-2 sm:gap-4 bg-[#b8270bFF]">
    <ButtonDefault title="Realizar pedido" />
    <p class="text-[#f5f1e3] text-xs py-4">Whatsapp: | Telefone:</p>
</header>