---
import { ContainerImage } from "./react/ContainerImage"

const {imgPath} = Astro.props
---

<div class=`flex w-full sm:w-[600px] md:w-[600px] lg:w-[500px] rounded-[.5rem] md:rounded-[2rem]`>
    <ContainerImage urlImg={imgPath}  />
</div>