<header class="bg-[var(--color-light)]">
    <div class="flex justify-center py-10">
        <img src="/logo.png" alt="" class="w-[200px] mr-8">
    
        <nav class="flex items-center gap-4">
            <a href="#" class="link-second-header-check">Inicio</a>
            <a href="#" class="link-second-header">História</a>
            <a href="#" class="link-second-header">Endereço e História</a>
            <a href="#" class="link-second-header">Cardápio</a>
            <a href="#" class="link-second-header">Festa em Casa</a>
            <a href="#" class="link-second-header">Seja um Revendedor</a>
        </nav>
    </div>

    <div class="flex">
        <div class="w-full h-4 bg-[var(--bg-color-green)]"></div>
        <div class="w-full h-4 bg-[white]"></div>
        <div class="w-full h-4 bg-[var(--bg-color-red)]"></div>
    </div>
</header>