---
import { HeaderReact } from "./react/HeaderReact";
---

<header class="flex w-full bg-[var(--color-light)]">
    <div class="flex flex-row w-full items-center justify-around py-4 md:py-6 lg:py-6 lg:justify-center lg:flex-row md:flex-col md:justify-center md:px-[10%]">
        <img src="/logo.png" alt="" class="w-[100px] sm:w-[120px] mr-0 mb-[1rem] sm:mr-8 lg:mb-0">
    
        <nav class="flex items-center">
            <HeaderReact client:idle />
        </nav>
    </div>

    <div class="flex">
        <div class="w-full h-4 bg-[var(--bg-color-green)]"></div>
        <div class="w-full h-4 bg-[white]"></div>
        <div class="w-full h-4 bg-[var(--bg-color-red)]"></div>
    </div>
</header>