---
import { HeaderReact } from "./react/HeaderReact";
---

<header class="bg-[var(--color-light)]">
    <div class="flex justify-center py-6">
        <img src="/logo.png" alt="" class="w-[120px] mr-8">
    
        <nav class="flex items-center">
            <HeaderReact client:idle />
        </nav>
    </div>

    <div class="flex">
        <div class="w-full h-4 bg-[var(--bg-color-green)]"></div>
        <div class="w-full h-4 bg-[white]"></div>
        <div class="w-full h-4 bg-[var(--bg-color-red)]"></div>
    </div>
</header>